// ============================================================================
// Form Controls
// ============================================================================

// ----------------------------------------------------------------------------
// Labels and Descriptive Text
// ----------------------------------------------------------------------------

// Stack labels above their inputs
label,
legend {
    display: block;
    margin-bottom: 0.125rem;
}

// Checkbox and radio input labels should sit next to the inputs
input[type='checkbox'] + label,
input[type='radio'] + label {
    display: inline-flex;
}

.help-text {
    margin-bottom: 0.25rem;

    font-size: var(--font-size-small);
    color: var(--color-label);
}

.error-message {
    margin-top: 0.25rem;
    font-size: var(--font-size-small);
    color: var(--color-error);
}

// ----------------------------------------------------------------------------
// Text Controls
// ----------------------------------------------------------------------------

%form-control-with-text {
    appearance: none;
    width: 100%;
    max-width: var(--form-control-max-width, 100%);
    padding: 0.5rem;
    border: thin solid;
    border-radius: 2px;

    &:focus {
        @include focus-ring;
        border-color: var(--focus-ring-inner);
    }

    &[aria-invalid='true'] {
        --focus-ring-inner: var(--focus-ring-error-inner);
        --focus-ring-outer: var(--focus-ring-error-outer);
    }
}

input[type='date'],
input[type='email'],
input[type='number'],
input[type='tel'],
input[type='text'] {
    @extend %form-control-with-text;
}

textarea {
    @extend %form-control-with-text;

    // Width is fully determined by the width of the container
    resize: vertical;
}

select {
    @extend %form-control-with-text;

    // Custom dropdown arrow icon
    background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 96 96'%3E%3Cpath d='M48 72L16.823 36h62.354L48 72z' fill='%23000'/%3E%3C/svg%3E%0A");
    background-position: calc(100% - 0.5em);
    background-repeat: no-repeat;
    background-size: 1em;
}
