*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

legend {
    padding: 0;
}

button,
input,
select,
textarea {
    font: inherit;
}
