@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css);

@import './mixins';
@import './resets';
@import './theme';
@import './form-controls';

// ============================================================================
// Base Styles
// ============================================================================

*:focus {
    @include focus-ring;
}

html {
    font-family: var(--font-stack-base);
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}

header,
main {
    padding: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

button {
    appearance: none;
    padding: 0.5em 1em;
    border: none;
    background-color: var(--color-accent);
    color: var(--color-on-accent);
}

pre,
code {
    font-family: var(--font-stack-mono);
    font-weight: 450; // Fira Code Retina
}
