<ng-container [ngSwitch]="depth">
    <h2 *ngSwitchCase="2">{{ section.title }}</h2>
    <h3 *ngSwitchCase="3">{{ section.title }}</h3>
    <h4 *ngSwitchCase="4">{{ section.title }}</h4>
    <h5 *ngSwitchCase="5">{{ section.title }}</h5>
    <h6 *ngSwitchDefault>{{ section.title }}</h6>
</ng-container>

<ng-container *ngFor="let content of section.contents">
    <ng-container *ngIf="isSectionContent(content)">
        <app-dynamic-form-section [section]="content" [depth]="depth + 1"></app-dynamic-form-section>
    </ng-container>

    <ng-container *ngIf="isQuestionContent(content)">
        <app-dynamic-form-question [question]="content"></app-dynamic-form-question>
    </ng-container>

    <ng-container *ngIf="isControlContent(content)">
        <app-dynamic-form-control [control]="content"></app-dynamic-form-control>
    </ng-container>
</ng-container>
