<app-json-display [title]="'Form Metadata'" [json]="metadata"></app-json-display>

<form *ngIf="form" [attr.id]="metadata.id" [formGroup]="form" (ngSubmit)="onSubmit()">
    <ng-container *ngFor="let content of metadata?.contents">
        <app-dynamic-form-section
            *ngIf="metadataService.isSection(content)"
            [section]="content"
            [depth]="sectionHeadingLevel"
        ></app-dynamic-form-section>

        <app-dynamic-form-question
            *ngIf="metadataService.isQuestion(content)"
            [question]="content"
        ></app-dynamic-form-question>

        <app-dynamic-form-control
            *ngIf="metadataService.isControl(content)"
            [form]="form"
            [control]="content"
        ></app-dynamic-form-control>
    </ng-container>

    <app-json-display title="Responses" [json]="form!.getRawValue()" [expanded]="true"></app-json-display>
</form>
