<h1>Dynamic Forms from Metadata</h1>

<form [formGroup]="renderForm" (ngSubmit)="onChangeRender()">
    <fieldset>
        <legend>Examples</legend>

        <input type="radio" formControlName="type" id="render-controls" value="controls" />
        <label for="render-controls">Form Controls</label>

        <input type="radio" formControlName="type" id="render-question" value="question" />
        <label for="render-question">Form Question</label>

        <input type="radio" formControlName="type" id="render-section" value="section" />
        <label for="render-section">Form Section</label>
    </fieldset>

    <button type="submit">Render</button>
</form>

<!-- <pre *ngIf="metadata"><code>{{ metadata | json }}</code></pre> -->
<p *ngIf="error" style="color: red">{{ error }}</p>

<app-dynamic-form *ngIf="metadata" [metadata]="metadata"></app-dynamic-form>

<router-outlet></router-outlet>
