<form [formGroup]="renderForm" (ngSubmit)="onChangeRender()">
    <fieldset>
        <legend>Examples</legend>

        <div>
            <input type="radio" name="type" formControlName="type" id="render-controls" value="controls" />
            <label for="render-controls">Form controls</label>
        </div>

        <div>
            <input type="radio" name="type" formControlName="type" id="render-question" value="question" />
            <label for="render-question">Form question</label>
        </div>

        <div>
            <input type="radio" name="type" formControlName="type" id="render-section" value="section" />
            <label for="render-section">Form section</label>
        </div>

        <div>
            <input type="radio" name="type" formControlName="type" id="render-mixed" value="mixed" />
            <label for="render-mixed">Mixed contents</label>
        </div>
    </fieldset>

    <button type="submit">Render</button>
</form>

<div>
    <app-dynamic-form *ngIf="metadata" [metadata]="metadata" (submitted)="this.formValue = $event"></app-dynamic-form>

    <app-json-display title="Responses" [json]="formValue" [expanded]="true"></app-json-display>
</div>
