:host {
    display: block;

    background-color: var(--color-background-code);
    color: var(--color-foreground-code);
}

summary {
    position: relative;
    padding: 0.5em;

    &::after {
        content: 'JSON';

        position: absolute;
        right: 1em;

        padding: 0.1em 0.25em;
        border: thin solid;
        border-radius: 4px;

        font-size: var(--font-size-small);
    }
}

.contents {
    max-width: 100%;
    overflow-inline: auto;
    padding: 1rem;
}

pre {
    margin: 0;
}
