<ng-container *ngIf="form && formControl; else initError" [ngSwitch]="control.controlType" [formGroup]="form">
    <ng-container *ngSwitchCase="'checkbox'">
        <input
            type="checkbox"
            [formControlName]="control.id"
            [appMetadata]="control"
            [attr.checked]="$any(control).checked ? '' : null"
        />
        <label [attr.for]="control.id">{{ control.label }}</label>
        <div *ngIf="control.helpText" class="help-text" [attr.id]="helpTextId">{{ control.helpText }}</div>
    </ng-container>

    <ng-container *ngSwitchCase="'date'">
        <label [attr.for]="control.id">{{ control.label }}</label>
        <div *ngIf="control.helpText" class="help-text" [attr.id]="helpTextId">{{ control.helpText }}</div>
        <input
            type="date"
            [formControlName]="control.id"
            [appMetadata]="control"
            [attr.min]="$any(control).min"
            [attr.max]="$any(control).max"
        />
    </ng-container>

    <ng-container *ngSwitchCase="'email'">
        <label [attr.for]="control.id">{{ control.label }}</label>
        <div *ngIf="control.helpText" class="help-text" [attr.id]="helpTextId">{{ control.helpText }}</div>
        <input
            type="email"
            [formControlName]="control.id"
            [appMetadata]="control"
            [attr.placeholder]="$any(control).placeholder"
        />
    </ng-container>

    <ng-container *ngSwitchCase="'number'">
        <label [attr.for]="control.id">{{ control.label }}</label>
        <div *ngIf="control.helpText" class="help-text" [attr.id]="helpTextId">{{ control.helpText }}</div>
        <input
            type="number"
            [formControlName]="control.id"
            [appMetadata]="control"
            [attr.min]="$any(control).min || null"
            [attr.max]="$any(control).max || null"
            [attr.step]="$any(control).step || null"
        />
    </ng-container>

    <ng-container *ngSwitchCase="'phone'">
        <label [attr.for]="control.id">{{ control.label }}</label>
        <div *ngIf="control.helpText" class="help-text" [attr.id]="helpTextId">{{ control.helpText }}</div>
        <input type="tel" [formControlName]="control.id" [appMetadata]="control" />
    </ng-container>

    <fieldset *ngSwitchCase="'radio-group'">
        <legend>{{ control.label }}</legend>
        <div *ngIf="control.helpText" class="help-text" [attr.id]="helpTextId">{{ control.helpText }}</div>

        <div *ngFor="let option of $any(control).options; index as i">
            <input
                type="radio"
                [formControlName]="control.id"
                [attr.id]="control.id + '-option-' + i"
                [value]="$any(option).value || option.label || option"
            />
            <label [attr.for]="control.id + '-option-' + i">{{ option.label || option }}</label>
        </div>
    </fieldset>

    <ng-container *ngSwitchCase="'select'">
        <label [attr.for]="control.id">{{ control.label }}</label>
        <div *ngIf="control.helpText" class="help-text" [attr.id]="helpTextId">{{ control.helpText }}</div>

        <select [formControlName]="control.id" [appMetadata]="control">
            <option value="" selected disabled>Select an option</option>

            <ng-container *ngFor="let option of $any(control).options">
                <!-- String options -->
                <option *ngIf="!option.options && !option.value">{{ option }}</option>

                <!-- Options with a different display value -->
                <option *ngIf="option.value" [attr.value]="option.value">{{ option.label }}</option>

                <!-- Option groups -->
                <optgroup *ngIf="option.options" [attr.label]="option.label">
                    <ng-container *ngFor="let groupOption of $any(option).options">
                        <option *ngIf="!groupOption.value">{{ groupOption }}</option>
                        <option *ngIf="groupOption.value" [attr.value]="groupOption.value">
                            {{ groupOption.label }}
                        </option>
                    </ng-container>
                </optgroup>
            </ng-container>
        </select>
    </ng-container>

    <ng-container *ngSwitchCase="'text'">
        <label [attr.for]="control.id">{{ control.label }}</label>
        <div *ngIf="control.helpText" class="help-text" [attr.id]="helpTextId">{{ control.helpText }}</div>
        <input
            type="text"
            [formControlName]="control.id"
            [appMetadata]="control"
            [attr.placeholder]="$any(control).placeholder"
        />
    </ng-container>

    <ng-container *ngSwitchCase="'textarea'">
        <label [attr.for]="control.id">{{ control.label }}</label>
        <div *ngIf="control.helpText" class="help-text" [attr.id]="helpTextId">{{ control.helpText }}</div>
        <textarea
            [formControlName]="control.id"
            [appMetadata]="control"
            [attr.cols]="$any(control).cols || null"
            [attr.rows]="$any(control).rows || null"
        ></textarea>
    </ng-container>

    <ng-container *ngSwitchDefault>Unknown control type: {{ control.controlType }}</ng-container>

    <div *ngIf="invalid" class="error-message" [attr.id]="errorMessageId">Error</div>
</ng-container>

<ng-template #initError>Error: Unable to initialize form control</ng-template>
