@import '~src/sass/variables';
@import '~src/sass/mixins';

%form-control-with-text {
    appearance: none;
    width: 100%;
    max-width: var(--form-control-max-width, 100%);
    padding: 0.5rem;
    border: thin solid;
    border-radius: 2px;

    &:focus {
        @include focus-ring;
        border-color: var(--focus-ring-inner);
    }

    &[aria-invalid='true'] {
        --focus-ring-inner: #{$color-error};
        --focus-ring-outer: #{rgba($color-error, 0.25)};
    }
}

:host {
    display: block;
    padding-bottom: 1rem;

    &[data-control-type='checkbox'] {
        display: flex;
    }
}

label {
    display: block;
    margin-bottom: 0.125rem;
}

input[type='checkbox'] + label,
input[type='radio'] + label {
    display: inline-flex;
}

input[type='date'],
input[type='email'],
input[type='number'],
input[type='tel'],
input[type='text'] {
    @extend %form-control-with-text;
}

textarea {
    @extend %form-control-with-text;
    resize: vertical;
}

select {
    @extend %form-control-with-text;
    background-image: url("data:image/svg+xml,%3Csvg fill='none' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 96 96'%3E%3Cpath d='M48 72L16.823 36h62.354L48 72z' fill='%23000'/%3E%3C/svg%3E%0A");
    background-position: calc(100% - 0.5em);
    background-repeat: no-repeat;
    background-size: 1em;
}

.help-text {
    margin-bottom: 0.25rem;

    font-size: var(--font-size-small);
    color: #898989;
}

.error-message {
    margin-top: 0.25rem;
    font-size: var(--font-size-small);
    color: $color-error;
}

app-json-display {
    margin-top: 0.5em;
}
